<!DOCTYPE html>
<html lang="pt-br">
<head>

    <%- include('./components/head') %>

</head>

<body>

    <%- include('./components/nav') %>

    <header>
    </header>

    <main>
        <section id="cardsimg">
                <div class="card">
                    <img src="<%= livro.imagem %>" alt="">
                    <h3><%= livro.nome %></h3>
                    <p><%= livro.resumo %></p>
                </div>
        </section>
    </main>

    <%- include('./components/footer') %>

</body>
</html>