<!DOCTYPE html>
<html lang="pt-br">
<head>

    <%- include('./components/head') %>

</head>

<body>

    <%- include('./components/nav') %>

    <header>
        <% if(message != null ) { %>
            <%- include('./components/alerts') %>
        <% } %>
    </header>

    <main>
        <section id="cardsimg">

            <% biblioteca.forEach((livro) => { %>
            <div class="card">

                <div class="dropdown">

                    <div class="dropdown-button">
                        <i class="bi bi-three-dots-vertical"></i>
                    </div>

                    <div class="dropdown-content">
                        <a id="editar" href="/getById/<%= livro.id %>/put">Editar</a>
                        <a id="apagar" href="/getById/<%= livro.id %>/delete">Deletar</a>
                    </div>

                </div>
                
                <a href="/detalhes/<%= livro.id %>"><img src="<%= livro.imagem %>" alt=""></a>
                <h3><%= livro.nome %></h3>
                
            </div>
            <% }) %>
        </section>
    </main>

    <% if (livroPut != null) { %>
        <%- include('./components/modalPut') %>
    <% } %>

    <% if (livroDel != null) { %>
        <%- include('./components/modalDel') %>
    <% } %>

    <%- include('./components/footer') %>

    <script src="/js/script.js"></script>
</body>
</html>